section.content {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #f5f5f5;
    border: 5px solid #fff;
    padding: 10px;
    position: relative;
    margin: 20px 70px 20px 260px;
    box-shadow: 0 0 16px rgba(41, 42, 51, 0.06),
        0 6px 20px rgba(41, 42, 51, 0.02);
}
*,
::after,
::before {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.card {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow: none;
    background: transparent;
}
.m-b-30,
.card {
    margin-bottom: 30px;
}
.inlineblock,
.navbar-right .navbar-nav > li,
.navbar-right .navbar-nav > li > a,
.sidebar,
.right-sidebar .choose-skin li div,
.right-sidebar .bg_color li div,
.right-sidebar .right_chat .media .message,
.right-sidebar .right_chat .media .status,
.right-sidebar .theme-light-dark li,
.card,
.card .header .header-dropdown li,
.wizard .actions ul,
.dropdown-menu ul.menu .icon-circle,
.team-info li,
.mcard_3 .social-links li,
.mcard_4 .social-links li,
.social_icon,
.contact .c_list .checkbox,
.contact .c_list .c_name {
    display: inline-block;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card .header {
    color: #444;
    padding: 20px 0 10px 0;
    position: relative;
    box-shadow: none;
}
.m-b-0,
.checkbox label,
.radio label,
.table.c_table tr td .checkbox,
.table.c_table tr th .checkbox,
.search_page .title,
.sidebar .user-info .detail h4,
.right-sidebar .card ul,
.block-header .breadcrumb,
.card .header,
.media p:last-child,
.activity,
.activity li h4,
.inbox_widget,
.project_list .table,
.members_profiles .table,
.profile_state li h4,
.social_media_table .table,
.contact .c_list .checkbox,
.contact .c_list .c_name,
.contact .c_list address,
.profile-page #timeline .timeline .timeline-item {
    margin-bottom: 0px;
}
.card .header h2 {
    font-size: 15px;
    color: #777;
    text-transform: uppercase;
    position: relative;
}
.card .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 0;
    list-style: none;
}
.mcard_3 {
    overflow: hidden;
}
.m-b-30,
.card {
    margin-bottom: 30px;
}
.align-center,
.sidebar .user-info,
.sidebar .menu .list a i,
.dropdown-menu ul.menu .icon-circle,
.mcard_3,
.product-report .icon,
.profile_state li,
.social_icon,
.file_folder .icon {
    text-align: center;
}
.mcard_3 .header {
    min-height: 170px;
}
.card .header {
    color: #444;
    padding: 20px 0 10px 0;
    position: relative;
    box-shadow: none;
}
.l-cyan {
    background: linear-gradient(
        0deg,
        #5cc5cd,
        rgba(92, 197, 205, 0.7)
    ) !important;
    color: #fff !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.card .body {
    font-weight: 400;
    border-radius: 0.35rem;
    background: #fff;
    font-size: 14px;
    color: #222;
    padding: 20px;
}
.mcard_3 .member-img {
    position: relative;
    margin-top: -70px;
}
button,
input,
select,
a {
    outline: none !important;
}
a {
    color: #0c7ce6;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}
.mcard_3 .member-img img {
    border: 3px solid #fff;
}
.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(41, 42, 51, 0.3);
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    max-width: 100%;
    border-radius: 1px;
}
img,
svg {
    vertical-align: middle;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.m-t-10,
.mcard_3 .social-links,
.profile_state li h4,
.product_item .product_details .product_price {
    margin-top: 10px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.inlineblock,
.navbar-right .navbar-nav > li,
.navbar-right .navbar-nav > li > a,
.sidebar,
.right-sidebar .choose-skin li div,
.right-sidebar .bg_color li div,
.right-sidebar .right_chat .media .message,
.right-sidebar .right_chat .media .status,
.right-sidebar .theme-light-dark li,
.card,
.card .header .header-dropdown li,
.wizard .actions ul,
.dropdown-menu ul.menu .icon-circle,
.team-info li,
.mcard_3 .social-links li,
.mcard_4 .social-links li,
.social_icon,
.contact .c_list .checkbox,
.contact .c_list .c_name {
    display: inline-block;
}
.mcard_3 .social-links li a {
    padding: 5px 10px;
}
.text-muted {
    color: #6c757d !important;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
